/*font-family: 'EB Garamond', serif;
font-family: 'Montserrat', sans-serif;*/
*{
  margin: 0;
}

body{
  background-color: #f7e4d4;
  margin-left: 20px;
  margin-right: 20px;
  
}
h1{
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 48px;
  color:#467745;
  margin-top: 20vh;

}

@media screen and (max-width: 520px) {
  h1{
    text-align: left;
    font-size: 36px;
  }
  body :nth-child(2){
  
    max-width: 100%;
    margin:20px;
    box-sizing: border-box;
    padding: 20px;
    
  }
  body :nth-child(3){
    max-width: 100%;
    margin: 20px;

  }
  body :nth-child(4){
    margin-left: 20px;
    
  }

}

body :nth-child(2){
  margin: 20px auto;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 480px;
  /*Only max width is defined in the task description but without setting width the layout doesn't look like the given design*/
  /*max-width: 480px;*/
  height: 64px;
  color: #467745;
  box-sizing: border-box;
  padding: 20px;
  border: none;
}

body :nth-child(3){
  margin: 0 auto;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 480px;
  /*max-width: 480px;*/
  height: 120px;
  color: #467745;
  border:none;
  box-sizing: border-box;
  padding: 20px;
}


body :nth-child(4){
  
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:10px;

  margin: 20px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #467745;

}

button{
  margin: 0 auto;
  display: block;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 21px;
  text-align: center;
  align-content: center;
  width: 280px;
  max-width: 280px;
  height: 80px;
  background-color: #467745;
  color: #f7e4d4;
  letter-spacing: 0.2em;
  border-radius: 50px;
  text-transform: uppercase;
  border:none;

}

input.check {
  width: 20px;
  height: 20px;
  border: none;
}